<% provide(:title, 'Home') %>
  <h1 class="page-header">MEET THE TEAM</h1>
<div class= "left hero-unit">
    <div class="row-fluid">
        <div class ="row-fluid">
            <div class="span4">
                <img src="https://dl.dropbox.com/s/5fjlmw5s2mv8o1b/IMG_0882.JPG?dl=1" />
            </div>
            <div class ="span">
                <p>Hello Edmon Garibyan </p>
            </div>
        </div>
    </div>
</div>

