<% provide(:title, 'About Us') %>
<div class="hero-unit about">
  <h1 class="center">MEET THE TEAM</h1>
</div>
<div class= "left hero-unit">
    <div class="row-fluid">
        <div class ="row-fluid">
            <div class="span3">
            </div>
        </div>
    </div>
</div>

