<% provide(:title, 'About Us') %>
<div class="hero-unit about">
  <h1 class="center">MEET THE TEAM</h1>
</div>
<div class= "left hero-unit">
    <div class="row-fluid">
        <div class ="row-fluid">
            <div class="span3">
                <%= image_tag("ed.png", :alt => "Edmon Garibyan") %>
                <p><b>Edmon Garibyan<br>Cofounder</b></p>
            </div>
            <div class ="span6">
                <p>Edmon is currently a senior at the University of Colorado at Boulder. He is a recent graduate of the INVST program where he lead an initiative to increase sustainability in this country by over 12 billion percent.</p>
                <p>He has extensive experience in building businesses for long term growth and sustainability. In his free time, Edmon loves smoking weed, makin money, and bangin bitches. </p>
            </div>
        </div>
        <br>
        <div class ="row-fluid">
            <div class="span3">
                <%= image_tag("ed.png", :alt => "Edmon Garibyan") %>
                <p><b>Edmon Garibyan<br>Cofounder</b></p>
            </div>
            <div class ="span6">
                <p>Edmon is currently a senior at the University of Colorado at Boulder. He is a recent graduate of the INVST program where he lead an initiative to increase sustainability in this country by over 12 billion percent.</p>
                <p>He has extensive experience in building businesses for long term growth and sustainability. In his free time, Edmon loves smoking weed, makin money, and bangin bitches. </p>
            </div>
        </div>
    </div>
</div>

