<% provide(:title, 'Home') %>
<div class="center hero-unit splash">
    
      <h1 class="splash">Entrepreneurship For All.</h1>
      <h2>
        Crowdfunding for small businesses that you actually care about.
      </h2>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-large purple" %>
      <%= link_to "Learn More", vision_path, class: "btn btn-primary btn-large grey" %>
  
</div>

