<% provide(:title, 'Our Vision') %>
  <h1 class="page-header">OUR VISION</h1>
  <div class="row hero-unit vision">
    <h2>Problem: 50% of degree holders are unemployed or underemployed</h2>
    <p>Perhaps they chose the wrong major, performed poorly in school, or the economy sucks. That's irrelevant. What's relevant is that many of these underperforming diploma holders have the ability to earn a decent living by opening their own business.<h2>We believe that the solution this problem is to encourage young people to start their own business.</h2></p>
    <p>But, starting a business is too risky and difficult </h2>
    In the current state of affairs, starting a business requires risky startup captial, and a requirement that you actually know what the hell you're doing. </p>
    <h2>Bocofunder.com is the answer<h2>
  </div>