<% provide(:title, 'Home') %>
  <h1 class="page-header">OUR VISION</h1>
  <div class="row-fluid hero-unit">
    <h1 class="">50%</h1>
    <p >of degree holders in the U.S. are either unemployed are underemployed. We want to shift the paradigm in this country. Instead of being at the whims of HR departments, we want entrepreneurship to be a widely accessible dream.</p>
    <p>Through the power of crowdfunding, we can achieve this
  </div>