<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to image_tag("header.png", alt: "Rails"), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "About Us",    about_path %></li>
          <li><%= link_to "Our Vision", vision_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
